[submodule "submodules/SwiftyJSON"]
	path = submodules/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "submodules/Mockingjay"]
	path = submodules/Mockingjay
	url = https://github.com/kylef/Mockingjay.git
[submodule "submodules/XCGLogger"]
	path = submodules/XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
[submodule "submodules/SwiftWebSocket"]
	path = submodules/SwiftWebSocket
	url = https://github.com/tidwall/SwiftWebSocket.git
[submodule "submodules/Swinject"]
	path = submodules/Swinject
	url = https://github.com/Swinject/Swinject.git
