github "DaveWoodCom/XCGLogger" >= 3.2
github "kylef/Mockingjay"
github "SwiftyJSON/SwiftyJSON"
github "tidwall/SwiftWebSocket" >= 2.6
github "Swinject/Swinject"
github "Thomvis/BrightFutures"
github "antitypical/Result"
github "krzyzanowskim/CryptoSwift"
github "postmates/PMKVObserver"
github "kylef/URITemplate.swift"
github "mlilback/pegkit"
github "mlilback/MessagePackSwift"  >= 0.2.2
