<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenGeneratedFiles</key>
	<true/>
	<key>rc2,defaultFontSize</key>
	<integer>14</integer>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>EditorFontColor</key>
	<string>000000</string>
	<key>EditorBGColor</key>
	<string>FFFFFF</string>
	<key>MaxCommandHistorySize</key>
	<integer>10</integer>
	<key>AutoSaveEnabled</key>
	<true/>
</dict>
</plist>
