<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>EditorFontColor</key>
	<string>000000</string>
	<key>SyntaxColors</key>
	<dict>
		<key>Comment</key>
		<string>1735FF</string>
		<key>Keyword</key>
		<string>C71267</string>
		<key>Function</key>
		<string>C78312</string>
		<key>Quote</key>
		<string>31aa2a</string>
		<key>Symbol</key>
		<string>c7c431</string>
		<key>CodeBackground</key>
		<string>eeeeee</string>
		<key>InlineBackground</key>
		<string>eef4cd</string>
		<key>EquationBackground</key>
		<string>f3e4bc</string>
	</dict>
	<key>EditorBGColor</key>
	<string>FFFFFF</string>
	<key>MaxCommandHistorySize</key>
	<integer>10</integer>
	<key>RCodeHighlighterColors</key>
	<dict>
		<key>Comment</key>
		<string>1735FF</string>
		<key>Keyword</key>
		<string>C71267</string>
		<key>Function</key>
		<string>C78312</string>
		<key>Quote</key>
		<string>31aa2a</string>
		<key>Symbol</key>
		<string>c7c431</string>
		<key>CodeBackground</key>
		<string>eeeeee</string>
		<key>InlineBackground</key>
		<string>eef4cd</string>
		<key>EquationBackground</key>
		<string>f3e4bc</string>
	</dict>
</dict>
</plist>
