<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebKitDeveloperExtras</key>
	<true/>
	<key>EditorFontColor</key>
	<string>000000</string>
	<key>OutputColor_Input</key>
	<string>e1e1e1</string>
	<key>OutputColor_Help</key>
	<string>d4d4d4</string>
	<key>OutputColor_Status</key>
	<string>ebe9dd</string>
	<key>OutputColor_Error</key>
	<string>d7b5be</string>
	<key>OutputColor_Note</key>
	<string>ecd91b</string>
	<key>OutputColor_Log</key>
	<string>00ff00</string>
	<key>OutputColors</key>
	<dict>
		<key>Input</key>
		<string>e1e1e1</string>
		<key>Help</key>
		<string>d4d4d4</string>
		<key>Status</key>
		<string>ebe9dd</string>
		<key>Error</key>
		<string>d7b5be</string>
		<key>Note</key>
		<string>ecd91b</string>
		<key>Log</key>
		<string>00ff00</string>
	</dict>
	<key>SyntaxColors</key>
	<dict>
		<key>Comment</key>
		<string>1735FF</string>
		<key>Keyword</key>
		<string>C71267</string>
		<key>Function</key>
		<string>C78312</string>
		<key>Quote</key>
		<string>31aa2a</string>
		<key>Symbol</key>
		<string>c7c431</string>
		<key>CodeBackground</key>
		<string>eeeeee</string>
		<key>InlineBackground</key>
		<string>eef4cd</string>
		<key>EquationBackground</key>
		<string>f3e4bc</string>
	</dict>
	<key>EditorBGColor</key>
	<string>FFFFFF</string>
	<key>MaxCommandHistorySize</key>
	<integer>10</integer>
	<key>RCodeHighlighterColors</key>
	<dict>
		<key>Comment</key>
		<string>1735FF</string>
		<key>Keyword</key>
		<string>C71267</string>
		<key>Function</key>
		<string>C78312</string>
		<key>Quote</key>
		<string>31aa2a</string>
		<key>Symbol</key>
		<string>c7c431</string>
		<key>CodeBackground</key>
		<string>eeeeee</string>
		<key>InlineBackground</key>
		<string>eef4cd</string>
		<key>EquationBackground</key>
		<string>f3e4bc</string>
	</dict>
</dict>
</plist>
