//
//  App.xcconfig
//  Rc2Client
//
//  Copyright © 2016 Mark Lilback. This file is licensed under the ISC license.
//

#include "BuildInfo.xcconfig"
#include "Shared.xcconfig"
#include "Debug.xcconfig"
//#include "Local.xcconfig"

SWIFT_OBJC_BRIDGING_HEADER = MacClient/MacClient-Bridging-Header.h
