//
//  Shared.xcconfig
//  Rc2Client
//
//  Copyright © 2016 Mark Lilback. This file is licensed under the ISC license.
//

#include "BuildInfo.xcconfig"

SDKROOT = macosx

MACOSX_DEPLOYMENT_TARGET = 10.12

SWIFT_VERSION = 4.1

// Misuse of 'nonnull'
//
// Check for misuses of nonnull parameter and return types.

CLANG_ANALYZER_NONNULL = YES



// Documentation Comments
//
// Warns about issues in documentation comments (doxygen-style) such as missing or
// incorrect documentation tags.

CLANG_WARN_DOCUMENTATION_COMMENTS = YES

// Infinite Recursion
//
// Warn if all paths through a function call itself.

CLANG_WARN_INFINITE_RECURSION = YES



CLANG_WARN_SUSPICIOUS_MOVES = YES

// Framework Search Paths
//
// This is a list of paths to folders containing frameworks to be searched by the
// compiler for both included or imported header files when compiling C, Objective-C,
// C++, or Objective-C++, and by the linker for frameworks used by the product. Paths are
// delimited by whitespace, so any paths with spaces in them need to be properly quoted.

FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Carthage/Build/Mac

// Runpath Search Paths
//
// This is a list of paths to be added to the runpath search path list for the image
// being created.  At runtime, dyld uses the runpath when searching for dylibs whose load
// path begins with '@rpath/'. See [Dynamic Library Programming
// Topics](//apple_ref/doc/uid/TP40001869).

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks

// Skip Install
//
// If enabled, don't install built products even if deployment locations are active.

//SKIP_INSTALL = YES

