.frontMatter {
	white-space: pre-wrap;
	word-wrap: break-word;
	line-height: 1.2;
	word-break: break-all;
	font-family: monospace;
	border: 1px hidden DarkGrey;
	border-bottom-style: outset;
	background-color: #f8f8f8;
	padding: 2px;
	width: 300px;
}

.frontMatter tr { border-bottom: 1px dotted;}
.frontMatter tr td { background-color: inherit; }
.frontMatter tr th { width: 30px; text-align: right; white-space: nowrap; padding-left: 4px; }

.frontMatter caption { text-align: left; background-color: inherit; font-family: "Rockwell", serif; font-size: 0.80em;}
.title {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	z-index: 20;
	opacity: 0.3;
}

section {
  position: relative;
  min-height: 40px;
}

sectionToolbar {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 100px;
	min-height: 30px;
	background: rgba(162, 2300, 92, 0.4);
	display: inline-block;
	padding-left: 5px;
	margin-bottom: 8px;
}

.toolbar-button {
  opacity: 0.6;
}

.codeChunk {
	padding: 9.5px;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
}

code {
	font-family: monospace;
	font-size: larger;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-bottom: 20px;
}

.codeSource {
	border: 1px solid darkgray;
	background-color: lightgray;
	margin: 10px;
	padding: 10px;
}

.codeOutput {
	margin: 10px;
	padding: 10px;
}

rc2-plot {
/*	margin-top: 20px; */
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
